# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# IDE/editor folders
.vscode/
.idea/

# Others
*.swp
